.dis-none {
  display: none !important;
}

.getreview-widget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: fixed;
  width: 130px;
  height: 195px;
  min-width: 130px;
  min-height: 195px;
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: transform 0.2s ease, border-color 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}

.active.getreview-widget {
  width: 285px;
  height: 506px;
  min-width: 285px;
  min-height: 506px;
}

@media (hover: hover) {
  .getreview-widget:hover {
    border: 3px solid rgb(25 0 84);
    transform: scale(1.05);
  }
}

@media (hover: none) {
  .getreview-widget:active {
    border: 3px solid rgb(25 0 84);
    transform: scale(1.05);
  }
}

.getreview-widget__video {
  z-index: 2;
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.getreview-widget__text {
  position: absolute;
  top: 14px;
  left: 16px;
  right: 8px;
  z-index: 50;
  text-align: left;
}

.getreview-widget__text>*:first-child {
  margin-top: 0 !important;
}

.getreview-widget__text>*:last-child {
  margin-bottom: 0 !important;
}

.getreview-widget__text {
  pointer-events: none;
}

.getreview-widget p {
  font-weight: bold;
  color: white;
  z-index: 50;
  text-shadow: 0px 1px 10px rgba(51, 51, 51, 0.3);
  opacity: 1;
  font-size: 10px;
  line-height: normal;
  margin: .25rem 0 0;
  pointer-events: none;
  cursor: default;
}

.active.getreview-widget p {
  font-size: 14px;
}

.getreview-widget h6 {
  color: white;
  text-shadow: 0px 1px 10px rgba(51, 51, 51, 0.7);
  opacity: 1;
  font-size: 12px;
  line-height: normal;
  margin: .25rem 0 0;
  cursor: default;
  pointer-events: none;
}

.active.getreview-widget h6 {
  font-size: 16px;
}

.getreview-widget__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px !important;
  height: 22px !important;
  z-index: 1010;
  cursor: pointer;
  transition: opacity 0.3s ease-out, background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  border-radius: 22px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.21);
}

.getreview-widget__close>* {
  pointer-events: none;
}

.getreview-widget:hover .getreview-widget__close {
  opacity: 1;
}

.mobile .getreview-widget__close {
  opacity: 1;
}

.active .getreview-widget__close {
  opacity: 1;
}

@media (hover: hover) {
  .getreview-widget__close:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media (hover: none) {
  .getreview-widget__close:active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.getreview-widget__close>svg {
  width: 22px !important;
  height: 22px !important;
}

@media screen and (max-width: 500px) {
  .getreview-widget {
    width: 100px;
    min-width: 100px;
    height: 150px;
    min-height: 150px;
  }

  .getreview-widget__text {
    top: 7px;
    left: 8px;
  }
}