:root {
  --hover-getreview-border: rgb(25 0 84);
}

.dis-none {
  display: none !important;
}

.getreview-widget {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  position: fixed;
  width: 130px;
  height: 195px;
  min-width: 130px;
  min-height: 195px;
  border: 3px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transition: transform 0.2s ease, border-color 0.3s ease, opacity 0.2s ease;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

.loaded.getreview-widget {
  opacity: 1;
}

@media (hover: hover) {
  .getreview-widget:hover {
    border: 3px solid var(--hover-getreview-border);
    transform: scale(1.05);
  }
}

@media (hover: none) {
  .getreview-widget:active {
    border: 3px solid rgb(25 0 84);
    transform: scale(1.05);
  }
}

.getreview-widget__video {
  z-index: 2;
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.getreview-widget__text {
  position: absolute;
  top: 14px;
  left: 16px;
  right: 8px;
  z-index: 50;
  text-align: left;
}

.getreview-widget__text>*:first-child {
  margin-top: 0 !important;
}

.getreview-widget__text>*:last-child {
  margin-bottom: 0 !important;
}

.getreview-widget__text {
  pointer-events: none;
}

.getreview-widget p {
  font-weight: bold;
  color: white;
  z-index: 50;
  text-shadow: 0px 1px 10px rgba(51, 51, 51, 0.3);
  opacity: 1;
  font-size: 10px;
  line-height: normal;
  margin: .25rem 0 0;
  pointer-events: none;
  cursor: default;
}

.active.getreview-widget p {
  font-size: 14px;
}

.getreview-widget h6 {
  color: white;
  text-shadow: 0px 1px 10px rgba(51, 51, 51, 0.7);
  opacity: 1;
  font-size: 12px;
  line-height: normal;
  margin: .25rem 0 0;
  cursor: default;
  pointer-events: none;
}

.active.getreview-widget h6 {
  font-size: 16px;
}

.getreview-widget__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px !important;
  height: 22px !important;
  z-index: 1010;
  cursor: pointer;
  transition: opacity 0.3s ease-out, background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
  border-radius: 22px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.21);
}

.getreview-widget__close>* {
  pointer-events: none;
}

.getreview-widget:hover .getreview-widget__close {
  opacity: 1;
}

.mobile .getreview-widget__close {
  opacity: 1;
}

.active .getreview-widget__close {
  opacity: 1;
}

@media (hover: hover) {
  .getreview-widget__close:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

@media (hover: none) {
  .getreview-widget__close:active {
    background-color: rgba(0, 0, 0, 0.8);
  }
}

.getreview-widget__close>svg {
  width: 22px !important;
  height: 22px !important;
}

@media screen and (max-width: 500px) {
  .getreview-widget {
    width: 100px;
    min-width: 100px;
    height: 150px;
    min-height: 150px;
  }

  .getreview-widget__text {
    top: 7px;
    left: 8px;
  }
}

/* videotube */

.videotube-modal-overlay {
  color: #fff;
  display: none;
  z-index: 995;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.92);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: none;
}

#videotube-modal-container {
  z-index: 998;
  position: fixed;
  top: 50%;
  left: 50%;
  right: 0;
  bottom: 0;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#videotube-modal-close {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 999;
  font-size: 25px;
  text-shadow: 0 0 10px #fff;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

#videotube-modal-close svg {
  width: 18px;
  height: auto;
}

#videotube-modal-close path {
  opacity: 0.7;
  fill: #fff;
}

#videotube-modal-close:hover path {
  opacity: 1;
}

/* iframe в углу */

@keyframes fade-in-up {
  0% {
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.getreview-widget__video-wrap {
  position: fixed;
  transform: translateY(150%);
}

.active.getreview-widget__video-wrap {
  animation: fade-in-up .25s ease forwards;
}

.getreview-widget__video-wrap .getreview-widget__close {
  top: -30px;
  left: 0px;
  right: initial;
}

.getreview-widget__iframe-container iframe {
  max-width: 100%;
  max-height: 100%;
}